.yourbookbody{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    width: 100%;
    height: calc(100vh - 60px);
    z-index: 1;
}

.headingwebsite{
    padding-top: 10px;
    padding-left: 20px;
    font-size: 2.5rem;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

.yourbooktabsdiv{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.yourbooktabs{
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;  
    gap: 2vw; 

}

.yourbooks{
    width: 100%;
    flex: 1;
    font-size: 20px;
    overflow-y: scroll;
    margin: auto;
    margin-top: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.yourbooks::-webkit-scrollbar {
    display: none;
}

.books{
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px; 
    /* border: 5px solid white; */
    /* width: 90vw;  
    margin: auto;  */
}

.tabline{
    height: 5px;
    background-color: var(--themecolor);
    width: 40px;
    transform-origin: 0% 0%;
    border-radius: 5px;
    position: relative;
    transition: 0.15s ease-in;
}

.yourbooktab{
    cursor: pointer;
}

.deftext{
    padding: 20px;
}

@media (max-width: 600px) {
    .tabselect{
        display: block;
        margin-left: 15px;
        background-color: var(--darkitembgcolor);
    }

    .yourbooktabsdiv{
        display: none;
    }

    .topheads{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .tabselect{
        margin-top: 10px;
        margin-right: 10px;
    }
}
