.yourbookbody{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    width: 100%;
    height: calc(100vh - 60px);
}

.headingwebsite{
    padding-top: 10px;
    padding-left: 20px;
    font-size: 2.5rem;
    margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}


.yourbooktabs{
    padding-left: 20px;
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;  
    gap: 2vw; 

}

.yourbooks{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
    font-size: 20px;
}

.books{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
}

